[[extend 'layout.html']]

<section class="section">
    <div class="title">Phone Numbers for [[=p.first_name]] [[=p.last_name]]</div>
    <table class="table is-striped is-fullwidth">
        <tr>
            <th>Phone</th>
            <th>Kind</th>
            <th></th>
        </tr>
        [[for row in rows:]]
        <tr>
            <td>[[=row.phone]]</td>
            <td>[[=row.kind]]</td>
            <td>
                <a class="button is-warning" href="[[=URL('edit_phone', p.id, row.id)]]">
                    <i class="fa fa-fw fa-edit"></i>
                </a>
                <a class="button is-danger" href="[[=URL('delete_phone', p.id, row.id, signer=signed_url)]]">
                    <i class="fa fa-fw fa-trash"></i>
                </a>
            </td>
        </tr>
        [[pass]]
    </table>
    <a class="button is-success" href="[[=URL('index')]]">
        <i class="fa fa-fw fa-backward"></i>
        Back
    </a>
    <a class="button is-primary" href="[[=URL('add_phone', p.id)]]">
        <i class="fa fa-fw fa-plus"></i>
        Add Phone Number
    </a>
</section>