[[extend 'layout.html']]

<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile">
        <div class="tile is-parent">
          <div class="tile is-child notification is-warning">
            <div class="box">
              I am attacking item 1
            </div>
            <a class="button is-success" href="/button_implementation/toggle/1?thumb=up"><i class="fa fa-thumbs-up"></i></a>
            <a class="button is-danger"  href="/button_implementation/toggle/1?thumb=down"><i class="fa fa-thumbs-down"></i></a>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child notification is-warning">
            <div class="box">
              I am attacking item 2
            </div>
            <a class="button is-success" href="/button_implementation/toggle/2?thumb=up"><i class="fa fa-thumbs-up"></i></a>
            <a class="button is-danger"  href="/button_implementation/toggle/2?thumb=down"><i class="fa fa-thumbs-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>