[[extend 'layout.html']]

<section class="section">
  <div class="container">
    <h1 class="title">Columns</h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">1 yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla </div>
      <div class="column">2 yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla </div>
      <div class="column">3 yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla </div>
      <div class="column">4 yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla </div>
      <div class="column">5 yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla </div>
    </div>
  </div>
</section>
