[[extend 'layout.html']]

<section class="section">
  <div class="container">
    <h1 class="title">Many Columns</h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-fifths">
        <div class="title">This is a title</div>
        <div class="subtitle">And a subtitle</div>
        <div class="level">
          <p>Notice how there are two subcolumns here.</p>
        </div>
        <div class="level">
          <div class="container">
            <div class="columns">
              <div class="column">
                This is one column, here, just one of the two little columns.
              </div>
              <div class="column">
                And this is the other little column.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">3 yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla </div>
      <div class="column">4 yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla </div>
      <div class="column">5 yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla yada yada yada yak yak bla bla bla </div>
    </div>
  </div>
</section>
