[[extend 'layout.html']]

<section class="section">
  <div class="container">
    <h1 class="title">Tables</h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column3</th>
      </tr>
      <tr>
        <td>data 1</td>
        <td>data 2</td>
        <td>data 3</td>
      </tr>
      <tr>
        <td>data 4</td>
        <td>data 5</td>
        <td>data 6</td>
      </tr>
    </table>
  </div>
</section>
