<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="[[=URL('static', 'font-awesome-4.7.0/css/font-awesome.css')]]">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->
  </body>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
