[[extend 'layout.html']]

<div id="vue-target">

  <section class="section">
    <div class="title">Postlandia</div>
  </section>

  <section class="section">
    <div class="form">
      <div class="is-fullwidth" v-if="page=='add'">
        <div class="field">
          <textarea class="textarea is-fullwidth" v-model="add_post_text" placeholder="Enter new post here"></textarea>
        </div>
        <button class="button is-primary is-size-6" @click="add_post">Post</button>
        <button class="button is-warning is-size-6" @click="goto('adding')">Cancel</button>
      </div>
      <div>
        <button class="button is-primary is-size-6" v-if="page=='adding'" @click="goto('add')">
          <i class="fa fa-plus fa-fw"></i>
        </button>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <!-- This div contains each post -->
        <div class="tile is-child notification is-light" v-for="p in posts">
          <div class="">
            <div>{{p.post_text}}</div>
            <div class="is-size-6 has-text-grey">{{p.usernames}}</div>
          </div>
          <div class="">
            <div class="thumbs is-size-4">
              
              <a class="has-text-danger is-pulled-right" v-if="p.user_email == user_email" @click="delete_post(p._idx)">
                <i class="fa fa-trash fa-fw"></i>
              </a>
              <span class="has-text-info">
                        <!-- This is for when the post is liked -->
                        <span v-if="p.rating == 1">
                            
                            <span v-if="p.checkedLike == 0">
                                <span @mouseleave="p.show_likers = 0">
                                    <span @mouseenter="get_likers(p._idx), p.checkedLike = 1">
                                        <span @click="p.checkedLike = 0, p.checkedDislike = 0, set_thumbs(p._idx, 0), get_likers(p._idx)">
                                            <i class="fa fa-flip-horizontal fa-thumbs-up" ></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <!--This is called once the string of likers has already been gotten -->
                            <span v-if="p.checkedLike == 1">
                                <span @mouseleave="p.show_likers = 0">
                                    <span @mouseenter="p.show_likers = 1">
                                        <span @click="p.checkedLike = 0, p.checkedDislike = 0, set_thumbs(p._idx, 0), get_likers(p._idx)">
                                            <i class="fa fa-flip-horizontal fa-thumbs-up" ></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <span v-if="p.checkedDislike == 0">
                                <span @mouseleave="p.show_dislikers = 0">
                                    <span @mouseenter="get_dislikers(p._idx), p.checkedDislike = 1">
                                        <span @click="p.checkedDislike = 0, p.checkedLike = 0, set_thumbs(p._idx, 2), get_dislikers(p._idx)">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <!--This is called once the string of dislikers has already been gotten -->
                            <span v-if="p.checkedDislike == 1">
                                <span @mouseleave="p.show_dislikers = 0">
                                    <span @mouseenter="p.show_dislikers = 1">
                                        <span @click="p.checkedDislike = 0, p.checkedLike = 0, set_thumbs(p._idx, 2), get_dislikers(p._idx)">
                                            <i class="fa fa-thumbs-o-down" ></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <span v-if="p.show_likers == 1">
                                <span class="has-text-info">
                                    <span class="is-size-7">
                                        {{p.likers}}
                                    </span>
                                </span>
                            </span>
                                    
                            <span v-if="p.show_dislikers == 1">
                                <span class="has-text-info">
                                    <span class="is-size-7">
                                        {{p.dislikers}}
                                    </span>
                                </span>
                            </span>                            
                            
                        </span>
                        
                        <!--This is for when both thumbs are set to default -->
                        <span v-if="p.rating == 0">
                            
                            <span v-if="p.checkedLike == 0">
                                <span @mouseleave="p.show_likers = 0">
                                    <span @mouseenter="get_likers(p._idx), p.checkedLike = 1">
                                        <span @click="p.checkedLike = 0, p.checkedDislike = 0, set_thumbs(p._idx, 1), get_likers(p._idx)">
                                            <i class="fa fa-flip-horizontal fa-thumbs-o-up"></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <!--This is called once the string of likers has already been gotten -->
                            <span v-if="p.checkedLike == 1">
                                <span @mouseleave="p.show_likers = 0">
                                    <span @mouseenter="p.show_likers = 1">
                                        <span @click="p.checkedLike = 0, p.checkedDislike = 0, set_thumbs(p._idx, 1), get_likers(p._idx)">
                                            <i class="fa fa-flip-horizontal fa-thumbs-o-up" ></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <span v-if="p.checkedDislike == 0">
                                <span @mouseleave="p.show_dislikers = 0">
                                    <span @mouseenter="get_dislikers(p._idx), p.checkedDislike = 1">
                                        <span @click="p.checkedDislike = 0, p.checkedLike = 0, set_thumbs(p._idx, 2), get_dislikers(p._idx)">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <!--This is called once the string of dislikers has already been gotten -->
                            <span v-if="p.checkedDislike == 1">
                                <span @mouseleave="p.show_dislikers = 0">
                                    <span @mouseenter="p.show_dislikers = 1">
                                        <span @click="p.checkedDislike = 0, p.checkedLike = 0, set_thumbs(p._idx, 2), get_dislikers(p._idx)">
                                            <i class="fa fa-thumbs-o-down" ></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <span v-if="p.show_likers == 1">
                                <span class="has-text-info">
                                    <span class="is-size-7">
                                        {{p.likers}}
                                    </span>
                                </span>
                            </span>
                                
                            <span v-if="p.show_dislikers == 1">
                                <span class="has-text-info">
                                    <span class="is-size-7">
                                        {{p.dislikers}}
                                    </span>
                                </span>
                            </span>
                            
                        </span>
                        
                        <!--This is for when the post has a thubms down -->
                        <span v-if="p.rating == 2">
                            
                            <span v-if="p.checkedLike == 0">
                                <span @mouseleave="p.show_likers = 0">
                                    <span @mouseenter="get_likers(p._idx), p.checkedLike = 1">
                                        <span @click="p.checkedLike = 0, p.checkedDislike = 0, set_thumbs(p._idx, 1), get_likers(p._idx)">
                                            <i class="fa fa-flip-horizontal fa-thumbs-o-up"></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <!--This is called once the string of likers has already been gotten -->
                            <span v-if="p.checkedLike == 1">
                                <span @mouseleave="p.show_likers = 0">
                                    <span @mouseenter="p.show_likers = 1">
                                        <span @click="p.checkedLike = 0, p.checkedDislike = 0, set_thumbs(p._idx, 1), get_likers(p._idx)">
                                            <i class="fa fa-flip-horizontal fa-thumbs-o-up" ></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <span v-if="p.checkedDislike == 0">
                                <span @mouseleave="p.show_dislikers = 0">
                                    <span @mouseenter="get_dislikers(p._idx), p.checkedDislike = 1">
                                        <span @click="p.checkedDislike = 0, p.checkedLike = 0, set_thumbs(p._idx, 0), get_dislikers(p._idx)">
                                            <i class="fa fa-thumbs-down"></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <!--This is called once the string of dislikers has already been gotten -->
                            <span v-if="p.checkedDislike == 1">
                                <span @mouseleave="p.show_dislikers = 0">
                                    <span @mouseenter="p.show_dislikers = 1">
                                        <span @click="p.checkedDislike = 0, p.checkedLike = 0, set_thumbs(p._idx, 0), get_dislikers(p._idx)">
                                            <i class="fa fa-thumbs-down" ></i>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            
                            <span v-if="p.show_likers == 1">
                                <span class="has-text-info">
                                    <span class="is-size-7">
                                        {{p.likers}}
                                    </span>
                                </span>
                            </span>
                                
                            <span v-if="p.show_dislikers == 1">
                                <span class="has-text-info">
                                    <span class="is-size-7">
                                        {{p.dislikers}}
                                    </span>
                                </span>
                            </span>
                                
                        </span>
              </span>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_posts_url = "[[=XML(get_posts_url)]]";
  let add_posts_url = "[[=XML(add_posts_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let get_rating_url = "[[=XML(get_rating_url)]]";
  let set_rating_url = "[[=XML(set_rating_url)]]";
  let get_peopleLIKE_url = "[[=XML(get_peopleLIKE_url)]]";
  let get_peopleDISLIKE_url = "[[=XML(get_peopleDISLIKE_url)]]";

  // Complete with other URLs you need.
  let user_email = "[[=XML(user_email)]]";
  let username = "[[=XML(username)]]";
</script>
<script src="js/index.js"></script>
[[end]]
